.singlepoke {
    width: 400px;
    height: 500px;
    border-radius: 1rem; 
    border: 3px solid rgba(255, 255, 255, 0.287);
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.singlepoke img {
    margin: 0;
    display: block;
    width: 65%;
    height: auto;
}

h2 {
    text-transform: capitalize;
    letter-spacing: 2px;
    position: absolute;
    top: 1rem;
    text-align: center;
}